<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Searchbox -->
        <shared-search-box
        (onValue)="searchByCountry($event)"
        (onDebounce)="searchByCountry($event)"
        placeholder="Buscar por Pais"
        ></shared-search-box>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <!-- Tabla de Resultados -->
        <ul>
            <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
            <countries-table
            [countries]="countries"
            ></countries-table>
        </ul>
    </div>
</div>